/*Colores*/
$primary-color: #2E4C6D;
$primary-color-light: #396EB0;
$secundary-color: #FC997C;
$background-color: #dfedff;
$whataspp-color: rgb(32, 173, 32);
$facebook-color: rgb(38, 38, 160);
$twitter-color: rgb(0, 153, 255);
$reddit-color: rgb(255, 81, 0);